/* /Pages/Index.razor.rz.scp.css */
.sticky[b-u3xg272vmc] {
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: white;
}
/* /SekkeishoView.razor.rz.scp.css */
.source[b-0qg3d282n8] {
    white-space: pre-wrap;
}
.small[b-0qg3d282n8] {
    font-size: small;
}
.sticky[b-0qg3d282n8] {
    position: sticky;
    top: 2.25em;
    background-color: white;
}
